.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;

    @media (max-width: 600px) {
      font-size: 1.4rem;
    }
  }

  .coffee-grid-container {
    width: 100%;
    max-width: 1200px;
    position: relative; // for loader positioning
  }

  .coffee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.top-bar {
  width: 100%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
  }

  .custom-search {
    width: 350px;
    background-color: #fff;
    border-radius: 12px;

    .MuiOutlinedInput-root {
      fieldset {
        border-color: #ccc;
        border-radius: 12px;
      }

      &:hover fieldset {
        border-color: var(--primary-color);
      }

      &.Mui-focused fieldset {
        border-color: var(--primary-color);
      }

      input {
        padding: 8px 12px;
      }
    }

    .MuiInputAdornment-root svg {
      color: #888;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .add-button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    width: 120px;
    font-size: 0.85rem;
    transition: background 0.2s;

    &:hover {
      background-color: #d56345;
      font-size: 0.95rem;
    }

    @media (max-width: 600px) {
      width: 100%;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }
  }
}

// Loader for coffee grid
.grid-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.pageLoader{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
